services:
  db:
    container_name: registry-db
    image: postgres:18.1-alpine3.22
    environment:
      POSTGRES_DB: registry
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    container_name: registry-api
    image: dwani/ubertax-register:latest
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/registry
    depends_on:
      db:
        condition: service_healthy

  pgadmin:
    container_name: registry-pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com      # use your email
      PGADMIN_DEFAULT_PASSWORD: admin123            # set a strong password
    ports:
      - "5050:80"  # Access pgAdmin on http://localhost:5050
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db

volumes:
  postgres_data:
  pgadmin_data:
